/* ^ ----Top Breadcrumb---- */
.breadcrumb {
  margin: 0;
  padding: 0 0.5rem;
  align-items: center;
}

.breadcrumb-item a,
.breadcrumb .active {
  font-size: 0.75rem;
}

/* ^ ------ Cloud Services Header ------ */
.cloud-services-header {
  height: auto;
  width: 100%;
  background: url(../img/industries-bg.jpg),
    linear-gradient(110deg, rgb(236, 236, 255, 0.85) 40%, transparent);
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-blend-mode: overlay;
  z-index: 1;
}

.cloud-services-header-content {
  max-width: 700px;
  padding: 3rem;
}

.cloud-services-header h1 {
  font-size: 4rem;
  line-height: 140%;
  font-weight: 300;
}

.cloud-services-header span {
  display: block;
  margin-top: 4rem;
  font-size: 1.5rem;
  line-height: 1.25;
}

@media (max-width: 767px) {
  .cloud-services-header h1 {
    font-size: 2rem;
    line-height: 140%;
    font-weight: 300;
  }

  .cloud-services-header span {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    line-height: 1.25;
  }

  .cloud-services-header-content {
    max-width: 700px;
    padding: 3rem 0.5rem;
  }
}

/* ^ ----  Scroll Spy Bar ----- */
.scrollspy-section {
  position: relative;
  height: auto;
  padding: 5rem 3rem;
}
.scroll-spy-section .navbar-nav {
  flex-direction: row;
}

.scroll-spy-section .nav-item {
  padding: 0.5rem;
}
.scrollspy-nav {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: sticky;
  top: 0;
  left: 0;
  background: #111111;
  z-index: 1000;
}

.scrollspy-nav .scrollspy-link {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s ease;
  font-weight: bold;
  margin: 0px 10px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.scrollspy-nav .scrollspy-link:hover,
.scrollspy-nav .scrollspy-link:active {
  color: #d80505;
}

.scrollspy-nav .scrollspy-indicator {
  position: absolute;
  height: 3px;
  width: 0;
  background: #d80505;
  bottom: 0;
  left: 0;
  transition: width 0.3s, left 0.1s;
}

/* ^---Supported Platforms--- */
#supportedPlatform .sc-card-title h2 {
  color: #000;
}

#supportedPlatform .sc-card-title span {
  color: #000;
  opacity: 0.8;
}

#supportedPlatform .cloud-solution-card {
  color: #000;
  background-color: #fff;
  padding: 2rem 1rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid #f2f4f8;
}

#supportedPlatform .cloud-solution-card .cs-card-img img {
  margin-bottom: 2.5rem;
  opacity: 0.8;
  max-width: 150px;
}

#supportedPlatform .cs-card-body a {
  text-decoration: none;
}

#supportedPlatform .cs-card-body h4 {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
}

#supportedPlatform .cs-card-body .fa {
  color: #0056b3;
  font-size: 1.2rem;
}

/* ^ -----Solution Section------- */
#solutions .card {
  border-top: 6px solid #245d88;
  padding: 2.75rem 1.5rem 0;
  background-color: #f2f4f8;
  margin-bottom: 1rem;
  border-radius: 0;
  transition: all 0.2s;
}

#solutions .card:hover {
  border-top-color: #e7a10a;
  cursor: pointer;
}

#solutions .card .card-text {
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
}
#solutions .card .explore-btn {
  text-decoration: none;
  color: #237cc0;
  display: flex;
  align-items: center;
}
#solutions .card .explore-btn:hover {
  color: #173d5a;
}

/* ^ ---Resources Section--- */
#resources {
  background-color: #ffffff;
}

#resources .ss-card h5 {
  color: #050505;
  margin-bottom: 2rem;
}

#resources .ss-card p {
  color: #696969;
  margin-top: 2.5rem;
  display: block;
}

#resources .title {
  color: #000000;
}

#resources .ss-card a {
  text-decoration: none;
  color: var(--wango-blue);
}

#resources .ss-card a:hover {
  color: #245d88;
}

/* ^ ----Contact Section------ */
.contact-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../img/RectLight.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.contact-section .card {
  border: none;
  background-color: transparent;
}

.contact-section .card-wrapper {
  padding: 2rem 4rem;
  display: flex;
  background: #fafafa;
  border: 1px solid #eeeeee;
}

.contact-section .section-title {
  font-size: 3rem;
  line-height: 1.1;
  color: #fff;
}

.contact-section .card-title {
  font-size: 2rem;
  line-height: 1.5;
  color: #5d5d5d;
}

.contact-section .image-wrapper {
  display: flex;
  align-items: center;
}

.contact-section .fa {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: var(--wango-blue);
}
