:root {
    /* --wango-orange:#E46C0A; */
    --wango-orange:#ff7300;
    --wango-blue: #3282c1;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    background-color: #f7fbff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.1s;
}
dl, ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}
.cta-btn-lg{
    border: none;
    cursor: pointer;
    display: block;
    font-weight: 700;
    line-height: 1em;
    text-decoration: none;
    text-align: center;
    transition-duration: .2s;
    background-color: rgba(0,0,0,0);
    color: #fff;
    border: 2px solid #fff;
    padding: .9375rem 2.5rem;
    font-size: 1.3em;
}
.cta-btn-lg:hover {
    background: #fff;
    color: var(--wango-blue);
}
.bg-white{
    background-color: #f9faff;
}
.bg-dark{
    background-color: #131313;
}
.top-bar {
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--wango-blue);
}

.left-search {
    display: inline-block;
}

.left-search input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    border-radius: 40px;
    border: none;
    background-color: rgba(255, 255, 255, 0.171);
    color: #fff;
}

.left-search input::placeholder {
    color: #fff;
    font-size: 0.75rem;

}

.left-search input:focus {
    outline: none;
}

.contact-mail,
.contact-phone,
.top-lan {
    padding: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 0.75rem;
    color: #fff;
    background-color: var(--wango-blue);
    background-color: transparent;
}

.contact-phone {
    border-left: 1px solid rgba(255, 255, 255, 0.219);
    border-right: 1px solid rgba(255, 255, 255, 0.219);
}

.contact-mail .fa,
.contact-phone .fa {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    display: block;
    margin-right: 0.8rem;
}

.contact-mail a,
.contact-phone a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 0.875rem;
}
.navigation-menu .contact-mail .fa, .navigation-menu .contact-phone .fa, .navigation-menu .contact-mail a, .navigation-menu .contact-phone a{
    color: #555555;
}
.navigation-menu .contact-mail, .navigation-menu .contact-phone{
    padding: 0.5rem 0;
}
.navbar-brand img {
    max-width: 200px;
}

.navigation-menu .container {
    padding: 0;
}

.navigation-menu .navbar {
    border-radius: 8px;
}

.navbar-nav .active .nav-link {
    color: var(--wango-blue) !important;
    font-weight: 700;
}
.navigation-menu .dropdown-item a{
    display: block;
}
.bg-light {
    background-color: #fff !important;
}
.dropdown {
    position: static !important;
}
.dropdown-menu {
    /* box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important; */
    margin-top: 1px !important;
    width: 100% !important;
}
.drop-down-content a{
    display: block;
    word-wrap: break-word;
    padding: 0.5rem 0;
    color: var(--wango-blue);
}
.drop-down-content a:hover{
    color: var(--wango-orange);
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: transparent;
}
.drop-down-content .dropdown-title{
    display: block;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    font-size: 1.125rem;
    font-weight: 700;
    border-bottom: 1px solid #dee2e6;
}
.drop-down-content .dropdown-subtitle{
    display: block;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: #555558;
}
.top-breadcrumb a, .top-breadcrumb span{
color: #fff;
}
.top-breadcrumb span{
    padding: 0 0.35rem;
}
/* -------------Common--------- */
.section-title{
    text-align: center;
}
.section-title h2{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding: 2rem 0;
    position: relative;
    display: inline-block;
    color: var(--wango-orange);
}
.section-title h2::before{
    width: 28px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -14px;
    background-color: var(--wango-orange);
}
.section-title h2::after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 15px;
    left: 50%;
    margin-left: -50px;
    background-color: var(--wango-orange);
}
  .doted-line{
      width: 50px;
      height: 4px;
      margin-left: 2px;
      border-radius: 20px;
      background-image: linear-gradient(to right, var(--wango-orange) 20%, transparent 20%, transparent 30%, var(--wango-orange) 30%, var(--wango-orange) 50%, transparent 50%, transparent 60%, var(--wango-orange) 60%, var(--wango-orange) 100%);
  }
.business-solutions,
.infrastructure-services,
.industries,
.support {
    padding: 2rem 0;
}

/* Font Weight */
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

/* Font Sizes */
.font-12 {
    font-size: 0.75rem;
}
.font-14 {
    font-size: 0.875rem;
}
.font-16 {
    font-size: 1rem;
}

.font-18 {
    font-size: 1.125rem;
}

.font-20 {
    font-size: 1.25rem;
}

.font-22 {
    font-size: 1.375rem;
}

.font-24 {
    font-size: 1.5rem;
}

.font-28 {
    font-size: 1.75rem;
}

.font-32 {
    font-size: 2rem;
}

.font-40 {
    font-size: 2.5rem;
}

.font-48 {
    font-size: 3rem;
}

.font-64 {
    font-size: 4rem;
}

.font-80 {
    font-size: 5rem;
}

/* Paddings All*/
.wango-p-1 {
    padding: 1rem;
}

.wango-p-2 {
    padding: 2rem;
}

.wango-p-3 {
    padding: 3rem;
}

.wango-p-4 {
    padding: 4rem;
}

.wango-p-5 {
    padding: 5rem;
}

.wango-p-6 {
    padding: 6rem;
}

/* Padding Y-Axis */
.wango-py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.wango-py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.wango-py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.wango-py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* Padding X-Axis */
.wango-px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.wango-px-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.wango-px-3 {
    padding-left: 3rem;
    padding-right: 3rem;
}

.wango-px-4 {
    padding-left: 4rem!important;
    padding-right: 4rem!important;
}

/* ----------------Color--------- */
.wango-dark-gray{
    color: #313131;
}
.wango-light-gray{
    color: #e7e7e7;
}
.wango-white{
    color: #fafafa;
}
.wango-black{
    color: #0a0a0a;
}
.wango-orange{
    color: var(--wango-orange);
}
.wango-blue{
    color: var(--wango-blue);
}

/* ----Line Height--------- */
.lh-22{
    line-height: 22px;
}
.lh-24{
    line-height: 24px;
}
.lh-26{
    line-height: 26px;
}
.lh-28{
    line-height: 28px;
}

/* Nav style */
.submenu-title{
    font-weight: 600;
    color: #000;
    margin-bottom: 0.5rem;
    padding: 0.5rem 0;
    border-bottom: 2px solid #dcdcdc;
    cursor: pointer;
}
.submenu-title::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.menu-level-three a{
    padding: 0.3rem 0;
    text-decoration: none;
    color: var(--wango-blue);
}
.menu-level-three a:hover{
    color: #1f91ee;
}
.dropdown-menu{
    border: none;
    box-shadow: none;
    background-color: #f3f3f3;
    border-radius: 0;
}
.dropdown-item {
    white-space: normal;
    padding: 0;
}
.industriesMenu-col a{
    padding: 0.5rem 0;
    text-decoration: none;
    color: var(--wango-blue);
}
.industriesMenu-col a:hover{
    color: #1f91ee;
}
.industries-intro-col h4{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.875rem;
}
.industries-intro-col p{
    font-size: 1rem;
    opacity: 0.9;
}
@media (max-width:992px) {
    .top-bar {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .navigation-menu .navbar {
        border-radius: 0;
    }

    .navbar-brand img {
        max-width: 100px;
    }

}


/* ----------------Footer--------- */
footer {
    background-color: #141414;
    position: relative;
}

footer .footer-top-section {
    color: #fff;
    border-bottom: 1px solid #303030;
}

.footer-top-section .read-more {
    text-decoration: none;
    display: block;
    padding: 0.3rem 1rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    font-size: 0.75rem;
}

.footer-top-section .read-more:hover {
    background-color: var(--wango-blue);
    border-color: var(--wango-blue);
    color: #fff;
}

.footer-bottom-section {
    color: #fff;
}

footer .contact .fa {
    margin-right: 0.5rem;
    color: var(--wango-orange);
}

footer .social-media {
    border-top: 2px solid var(--wango-orange);
    padding-top: 2rem;
    margin-top: 2rem;
}

footer .social-media a {
    display: inline-flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #181818;
    margin-right: 1rem;
    font-size: 1rem;
    border: 2px solid var(--wango-orange);
    color: var(--wango-orange);
}

footer .social-media a:hover {
    background-color: #fff;
    text-decoration: none;
}

footer .resources a,
footer .infrastructure-service a,
footer .business-solution a {
    color: #f3f3f3;
}

footer .resources a:hover,
footer .infrastructure-service a:hover,
footer .business-solution a:hover {
    color: var(--wango-blue);
}

.footer__copyright {
    font-size: 0.875rem;
    color: #fff;
    background-color: #000;
    padding: 0.5rem 0;
    text-align: center;
}