/* Primary Color: #3282C1
Complementary Color: #E46C0A */
.hero {
    min-height: 90vh;
    width: 100%;
    background-color: transparent;
    background: url(../img/hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* #hero-slider{
    min-height: 90vh;
} */
/* .slider-item{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.slider-item img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
} */
.hero-content {
    color: #fff;
    text-align: center;
}

.hero-content h1 {
    font-size: 5rem;
    font-weight: 800;
}

.hero-content h1 span {
    color: var(--wango-orange);
}

.hero-content p {
    font-size: 2rem;
    padding: 1rem 4rem;
    display: block;
}

.hero-content .cta-btn-lg {
    display: inline-block;
}

@media (max-width:992px) {

    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content p {
        font-size: 1.5rem;
        padding: 0;
    }

    .hero-content {
        text-align: center;
        padding: 2rem 0;
        margin-top: 3rem;
    }

}
.business-solutions .nav-item {
    transform: skewX(-20deg);
    margin: 0.5rem 0.2rem;
}

.business-solutions .nav-item span {
    display: block;
    transform: skewX(20deg);
}

.business-solutions .nav-item:hover .nav-link {
    color: #fff;
    background-color: var(--wango-blue);
}

.business-solutions .nav-link {
    font-size: 1rem;
    font-weight: 700;
    background-color: transparent;
    border: 2px solid var(--wango-blue);
    border-radius: 0;
    color: var(--wango-blue);
}

.business-solutions .nav-item .active {
    background-color: var(--wango-blue);
}

.business-solutions .tab-pane .card,
.platforms-section .tab-pane .card {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 3.5rem 1.5rem;
    color: #000;
    background-color: transparent;
    border: none;
    margin-bottom: 1rem;
}

.business-solutions .tab-pane .card:hover,
.platforms-section .tab-pane .card:hover {
    text-decoration: none;
    background-color: #dbefff;
}
.platforms-section .tab-pane .card-img{
    display: flex;
    justify-content: center;
}
.platforms-section .tab-pane .card img{
    max-width: 80px;
}
.business-solutions .tab-pane h3,
.platforms-section .tab-pane h3 {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: 1.5rem 0 1rem;
    margin: 0;
}
.business-solutions .tab-pane h3 .fa,
.platforms-section .tab-pane h3 .fa,
.industries h3 .fa{
    margin-left: 0.2rem;
    font-size: 0.7rem;
}
.business-solutions .tab-pane .card-icon {
    text-align: center;
}
.business-solutions .tab-pane .card-icon .fa {
    font-size: 2.5rem;
    /* background: -webkit-gradient(linear, left top, left bottom, from(#ff7300), to(#333));
    background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
    color: #3282c1;
    text-align: center;
}

.business-solutions .tab-pane .card p,
.platforms-section .tab-pane .card p {
    color: #636363;
    text-align: center;
    line-height: 25px;
    font-weight: 300;
}

.explore-all-btn{
    text-decoration: none;
    background-color: #ff7300;
    color: #fff;
    border-radius: 3px;
    margin: 1.5rem 0;
    padding: 0.4rem 1rem;
    display: inline-block;
}
.explore-all-btn:hover{
    background-color: #ff9640;
    color: #fff;
}
.explore-all-btn:active{
    background-color: #c7681a;
}
.explore-all-btn .fa{
    margin-left: 0.5rem;
}
/* ------------ */
.platforms-section {
    position: relative;
    z-index: 1;
    background-color: #3282c1;
    min-height: 100vh;
    background: radial-gradient(circle at 50% 50%,#3282c1, #329dc1, #32b8c2)
}

.platforms-section .section-title h2 {
    color: #fff;
}

.platforms-section .section-title h2:before,
.platforms-section .section-title h2:after {
    background-color: #fff;
}
.platforms-section .tab-pane .card{
    background-color: #fff;
}

.platforms-section .nav-link {
    color: #e4e4e4;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: transparent;
    border-bottom: 5px solid #ffffff;
    border-radius: 0;
    padding: 0.5rem 2rem;
}

.platforms-section .nav-item .active {
    background-color: transparent;
    color: #fff;
    border-bottom: 5px solid var(--wango-orange);
}

/* --------Industries------ */
.industry-card{
    /* box-shadow: 3px 3px 5px rgb(0 0 0 / 7%); */
    padding: 2.25rem 1rem;
    transition: all 0.2s;
}
.industry-card:hover{
    text-decoration: none;
    background-color: #d2ebff;
    color: #000;
}
.industry-card .industry-card-icon{
    font-size: 1.5rem;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dcf0ff;
    color: #3282c1;
}

.industry-card h3{
    font-size: 1rem;
    margin: 1.5rem 0;
    text-align: center;
    font-weight: 700;
}
.industry-card p{
    font-size: 1rem;
    text-align: center;
    opacity: 0.85;
    font-weight: 300;
}

/* Support Section */
.support {
    position: relative;
}

.support .container {
    background: linear-gradient(132deg, rgb(40, 104, 154) 0%, rgb(71, 127, 150) 50%, rgb(115, 41, 160) 100%);
    /* background-color: rgb(0, 35, 61); */
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    z-index: 1;

}

.support .support-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.support .support-bg img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.support-left-img img {
    max-width: 200px;
}

/* ------------------Partners--------- */
.partners .item .partners-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners .item img {
    max-width: 100px;
}


/* --------------Support----------- */
.support .section-sub-title h2 {
    color: var(--wango-orange);
}


