/* ^-------------------------------------------------------------------------- */
/* ^                Common Style Sheet For All Industries Pages                */
/* ^-------------------------------------------------------------------------- */

/* ! ------------- All Industry Top Breadcrumb ------------- */
.breadcrumb {
    margin: 0;
    padding: 0 0.5rem;
    align-items: center;
}

.breadcrumb-item a,
.breadcrumb .active {
    font-size: 0.75rem;
}

 /* ! ----------------------------  Scroll Spy Bar ---------------------------- */
 .scroll-spy-section {
    position: relative;
}
.scroll-spy-section .navbar-nav {
    flex-direction: row;
}

.scroll-spy-section .nav-item {
    padding: 0.5rem;
}
/* Custom Scroll Spy */
.scrollspy-nav {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    left: 0;
    background: #111111;
    z-index: 1000;
  }
  
  .scrollspy-nav .scrollspy-link {
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s ease;
    font-weight: bold;
    margin: 0px 10px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
  }
  
  .scrollspy-nav .scrollspy-link:hover,
  .scrollspy-nav .scrollspy-link:active {
    color: #d80505;
  }
  
  .scrollspy-nav .scrollspy-indicator {
    position: absolute;
    height: 3px;
    width: 0;
    background: #d80505;
    bottom: 0;
    left: 0;
    transition: width 0.3s, left 0.1s;
  }
  
  .scrollspy-section {
    min-height: 100vh;
    padding: 5rem 3rem;
  }

 /* ^ Healthcare Industry */
 /* ! ------------- All Industry Header ------------- */
.industries-header {
    height: auto;
    width: 100%;
    background: url(../img/industries-bg.jpg) ,linear-gradient(110deg, rgb(236, 236, 255, 0.85) 40%, transparent);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-blend-mode: overlay;
    z-index: 1;
}

.industries-header-content {
    max-width: 700px;
    padding: 3rem;
}

.industries-header h1 {
    font-size: 4rem;
    line-height: 140%;
    font-weight: 300;
}

.industries-header span {
    display: block;
    margin-top: 4rem;
    font-size: 1.5rem;
    line-height: 1.25;
}
/* ! Responsive Media Queries */
@media (max-width:767px) {
    .industries-header h1 {
        font-size: 2rem;
        line-height: 140%;
        font-weight: 300;
    }

    .industries-header span {
        display: block;
        margin-top: 1rem;
        font-size: 1rem;
        line-height: 1.25;
    }

    .industries-header-content {
        max-width: 700px;
        padding: 3rem 0.5rem;
    }
}


/* ! ----------------------- Industries Overview Section ---------------------- */

.industries-common #overview {
    background-color: #efefef;
}
.industries-common #overview .title{
    color: var(--wango-blue);
    font-weight: 500;
}
.industries-common #overview .right-img img {
    width: 100%;
    height: auto;
}

/* ! ----------------------- Industries Solution Section ---------------------- */

.industries-common #solutions {
    background-color: #fcfcfc;
}

.industries-common #solutions .title,
.industries-common #resources .title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--wango-blue);
    margin-bottom: 5rem;
    text-align: center;
    width: 100%;
}

/* ! Tabs */
/* Style the tab */
.tab-1 {
    background-color: #ebf2ff;
    width: 100%;
    height: 100%;
  }
  
  /* Style the buttons inside the tab */
  .tab-1 button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    position: relative;
  }
  
  /* Change background color of buttons on hover */
  .tab-1 button:hover {
    background-color: #d0e0ff;
  }
  
  /* Create an active/current "tab button" class */
  .tab-1 button.active{
    background-color: #578ae9;
    color: #fff;
  }
  .tab-1 button.active::before {
    content: '';
    border: 12px solid transparent;
    border-right-color: #fff;
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  /* Style the tab content */
  .tabcontent-1 {
    padding: 0px 12px;
    /* border: 1px solid #ccc; */
    width: 100%;
    border-left: none;
    height: auto;
    background-color: #fff;
  }

/* ! ----------------------- Industries Resources Section ---------------------- */

.industries-common #resources {
    background-color: #ffffff;
}
.industries-common #resources .card{
    margin-bottom: 1rem;
}

.industries-common #resources .resources-card h5 {
    color: #000;
    margin-bottom: 2rem;
}

.industries-common #resources .resources-card p {
    color: #000;
    margin-top: 2.5rem;
    display: block;
}

.industries-common #resources .resources-card a {
    text-decoration: none;
    color: var(--wango-blue);
}

.industries-common #resources .resources-card a:hover {
    color: #245d88;
}

 /* ^ Government Industry */
