
.card-folded {
  display: inline-block;
  width: 100%;
  padding: 0rem 1rem 1rem 1rem;
  background-color: hsl(195deg 100% 70%);
  position: relative;
  transition: 0.3s;
  border-radius: 4px;
}
.card-folded .img{
  display: block;
  height: 120px;
  width: 120px;
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  margin-top: 10px;
}
.card-folded .img img{
  display: block;
  width: 100%;
  background-color: hsl(194.9, 100%, 90%);
  padding: 5px;
  border-radius: 50%;
}
.card-folded:hover{
  box-shadow: 0 30px 40px rgba(0,0,0,0.10);
}
.card-folded:hover::before, .card-folded:hover::after{
  opacity: 0;
  filter: none;
}
.card-folded[data="card-folded-2"]{
  background-color: hsl(45deg 100% 70%);
}
.card-folded[data="card-folded-2"]::after{
  border-bottom: 20px solid hsl(45deg 100% 70%);
  border-left: 20px solid hsl(45deg 100% 70%);
}
.card-folded[data="card-folded-2"]::before{
  border-top: 40px solid hsl(45deg 100% 70%);
  border-right: 40px solid hsl(45deg 100% 70%);
}
.card-folded[data="card-folded-3"]{
  background-color: hsl(213deg 100% 70%);
}
.card-folded[data="card-folded-3"]::after{
  border-bottom: 20px solid hsl(213deg 100% 70%);
  border-left: 20px solid hsl(213deg 100% 70%);
}
.card-folded[data="card-folded-3"]::before{
  border-top: 40px solid hsl(213deg 100% 70%);
  border-right: 40px solid hsl(213deg 100% 70%);
}
.card-folded[data="card-folded-4"]{
  background-color: hsl(4deg 100% 70%);
}
.card-folded[data="card-folded-4"]::after{
  border-bottom: 20px solid hsl(4deg 100% 70%);
  border-left: 20px solid hsl(4deg 100% 70%);
}
.card-folded[data="card-folded-4"]::before{
  border-top: 40px solid hsl(4deg 100% 70%);
  border-right: 40px solid hsl(4deg 100% 70%);
}

.card-folded h2 {
  font-size: 20px;
  color: hsl(195deg 50% 25%);
  font-weight: 400;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.card-folded p {
  color: hsl(195deg 50% 25%);
  font-size: 14px;
  line-height: 140%;
  opacity: 0.9;
}
.card-folded a{
  position: absolute;
  bottom: 7%;
  left: 8%;
  display: block;
  text-decoration: none;
  color: #fff;
  opacity: 0.9;
  margin-top: 4px;
  border: 1px solid #fff;
  padding: 4px 6px;
}