html {
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #eef9fd, #dff3fb);
}
.logo-contact{
  background-color: #eef9fd; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Top Header Logo and Contact Starts */

.social-icons {
  display: block;
  padding: 10px;
}

.social-icons a {
  display: inline-block;
  text-decoration: none;
  color: #1c1c38;
  margin: 0 12px;
  opacity: 0.8;
}

.social-icons a .fa {
  display: block;
  padding: 4px 6px;
  font-size: 20px;
}

.social-icons a:hover {
  color: #04aae2;
}

/* Top Header Logo and Contact Ends */

/*** Blog ***/
.blog {
  width: 100%;
  margin-top: 70px;
  height: auto;

}

.blog-header {
  width: 100%;
  height: 50vh;
  background-image: url('../img/blog-header2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-title {
  margin-bottom: 20px;
  text-align: center;
  width: 70%;
}

.blog-title h1 {
  display: inline;
  font-size: 62px;
  font-weight: 900;
  color: #1c1c38;
  text-align: center;
  position: relative;
}

.blog-title p {
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.6;
}

.main-content {
  padding-bottom: 85px;
}

.main-content-title {
  color: #1c1c38;
  font-size: 32px;
  text-align: center;
  padding: 50px 0;
}

/* Latest Posts */

.post-container {
  display: block;
  margin-bottom: 16px;
}

.post-content {
  background-color: #252525;
  padding: 20px 25px 25px 25px;
  border-radius: 0 0 5px 5px;
}

.post-content .entry-header h3 {
  line-height: 26px;
  cursor: pointer;
}

.post-content .entry-header h3 a {
  text-decoration: none;
  transition: .5s;
}

.post-thumb {
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  border-bottom: 5px solid #04aae2;
}

.post-thumb a {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.post-container:hover img {
  transform: scale(1.2);
}

.post-container:hover .post-content .entry-header h3 a {
  color: #04aae2;
}

.post-thumb a img {
  border-radius: 5px 5px 0 0;
  transition: .3s;
}

.post-content .entry-content p {
  margin: 15px 0 5px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

.post-content .entry-header h3 a {
  color: #fff;
  /*font-size: 20px;*/
  font-size: 20px;
  font-weight: 600;
}

/* pagination */

.pagination {
  margin-bottom: 30px;
}

.page-link {
  color: #fff;
  background-color: #252525;
  border: 1px solid #252525;
  padding: 0;
  margin: 0 10px;
  border-radius: 50% !important;
  width: 43px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  transition: .3s;

}

.page-link:focus,
.page-link:active {
  box-shadow: none !important;
  background-color: #04aae2 !important;
}

.page-link:hover {
  background-color: #04aae2 !important;
  color: #fff;
}


/* blog ends */

/* Footer Starts */

.footer-logo {
  width: 100%;
  overflow: hidden;
}

.footer-logo img {
  width: 100px;
  margin-top: -20px;
}

.footer-address-list {
  padding: 0 10px;
}

.footer-address-list li {
  color: #000;
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.footer-address-list li .fa {
  font-size: 24px;
  margin-right: 16px;
  color: #04aae2;
  opacity: 0.9;
}

.footer-address-list li a {
  text-decoration: none;
  color: #000;
  opacity: 0.6;
}

.footer-address-list li:nth-child(3) p span {
  opacity: 0.6;
}

.footer-address-list li a:hover {
  opacity: 1;
}

.footer-services {
  text-align: center;
}

.footer-services ul {
  list-style-type: none;
  margin: 0 auto;
}

.footer-services ul li {
  list-style-type: none;
  color: #000;
  margin-bottom: 10px;
  opacity: 0.6;
}

.footer h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000;
}

.footer-services p {
  font-size: 13px;
}

.Quick-Links {
  text-align: center;
}

.Quick-Links a {
  display: block;
  text-decoration: none;
  padding: 3px 5px;
  color: #000;
  text-align: center;
  opacity: 0.6;
}

.Quick-Links a:hover {
  opacity: 1;
}

.end-footer {
  background-color: #121217;
  text-align: center;
  padding: 10px 0;
}

.end-footer a,
.end-footer p {
  color: #fff;
  display: inline-block;
  font-weight: 100;
  opacity: 0.7;
}

.end-footer a:hover {
  opacity: 1;
}

/*========================services Content End========================== */


/*  RESPONSIVE DESIGN STYLES  */

@media (max-width: 991px) {
  .main-content-title {
    font-size: 24px;
  }

  .blog-title {
    width: 80%;
  }

  .blog-title h1 {
    font-size: 42px;
  }

  .footer-services {
    margin-bottom: 30px;
  }

  .social-icons {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .social-icons a {
    display: inline-block;
    margin: 20px 0;
    opacity: 0.8;
  }

  .social-icons a .fa {
    padding: 4px 6px;
    font-size: 16px;
  }

  .social-icons::before {
    display: none;
  }

}

@media (max-width: 576px) {
  .blog-title {
    width: 90%;
  }

  .blog-title h1 {
    font-size: 32px;
  }

  .blog-title p {
    font-size: 14px;
  }

  .title-section {
    padding: 16px 25px 14px;
    background: #252525;
    border-bottom: 1px solid #333;
    margin-bottom: 36px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 11;
    top: 0;
  }

  .title-section h1 {
    font-size: 26px;
  }

  .title-bg {
    display: none;
  }

  .main-content {
    padding-bottom: 55px;
  }

  body {
    font-size: 14px;
  }

  .post-content {
    padding: 6px;
  }

  .post-content .entry-header h3 {
    line-height: 18px;
  }

  .post-content .entry-content p {
    font-size: 12px;
    display: none;
  }

  .post-content .entry-header h3 a {
    font-size: 13px;
  }

}