html {
  overflow-x: hidden;
}
body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #eef9fd, #dff3fb);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*========================Some Common CSS Starts========================== */

#menu li.active a,
{
  color: #fff;
}
.header ul.icon-menu li.icon-box.active, .header ul.icon-menu li.icon-box:hover,
.header .icon-box h2{
  background-color: #04aae2;
}
.poppins-font {
  font-family: 'Poppins', sans-serif;
}
.open-sans-font {
  font-family: 'Open Sans', sans-serif;
}
/*========================Some Common CSS Ends========================== */

/* Top Header Logo and Contact Starts */
.logo-contact{
  background-color: #eef9fd;
  position: fixed;
  top: 0px;
  left: 0;
  padding: 0 70px;
  z-index: 200;
  width: 100%;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-top a{
  text-decoration: none;
  color: #fff;
}
.contact-top .fa{
  margin-right: 15px;
}
.contact-top a:hover{
  color: #04aae2;
}
.logo{
  border-radius: 100px;
  margin-left: 20px;
  width: 110px;
}
.social-icons{
  display: block;
  padding: 10px;
}
.social-icons a{
  display: inline-block;
  text-decoration: none;
  color: #1c1c38;
  margin: 0 12px;
  opacity: 0.8;
}
.social-icons a .fa{
  display: block;
  padding: 4px 6px;
  font-size: 20px;
}
.social-icons a:hover{
  color: #04aae2;
}
.social-icons::before {
  content: '';
  position: absolute;
  left: -40px;
  top: 48%;
  height: 4px;
  width: 40px;
  border-radius: 10px;
  background-color: #1c1c38;
}

/* Top Header Logo and Contact Ends */


/*========================contact Content Start========================== */

.contact{
  width: 100%;
  min-height: 100vh;
}
.contact-title{
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
.contact-title h1{
  display: inline;
  font-size: 62px;
  font-weight: 900;
  color: #1c1c38;
  text-align: center;
  position: relative;

}
.contact-title span{
  color: #04aae2;
}
.contact-title p{
  display: block;
  margin-top: 12px;
  font-size: 24px;
  font-weight: 800;
  color: #1c1c38;
  text-align: center;
  position: relative;
  opacity: 0.7;
}
/* Google Map CSS Starts*/
.embeded-map{
  margin: 100px 0;
  padding: 10px 0;
  background-image: linear-gradient(to  bottom, rgba(0, 0, 0, 0.1), transparent);
  /* background-color: rgba(0, 0, 0, 0.1); */
}
.embeded-map h2{
  font-size: 32px;
  color: #1c1c38;
  text-align: center;
  padding: 20px 0;
  opacity: 0.7;
}
.mapouter{
  position:relative;
  text-align:right;
  height:500px;
  width:100%;

}
.gmap_canvas{
  overflow:hidden;
  background:none!important;
  height:500px;
  width:100%;
  border: 8px solid #fff;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
/* Google Map CSS Ends*/
/* Footer Starts */

.footer-logo{
  width: 100%;
  overflow: hidden;
}
.footer-logo img{
  width: 100px;
  margin-top: -20px;
}
.footer-address-list{
  padding: 0 10px;
}
.footer-address-list li{
  color: #000;
  display: flex;
  align-items: flex-start;
  text-align: left;
}
.footer-address-list li .fa{
  font-size: 24px;
  margin-right: 16px;
  color: #04aae2;
  opacity: 0.9;
}
.footer-address-list li a{
  text-decoration: none;
  color: #000;
  opacity: 0.6;
}
.footer-address-list li:nth-child(3) p span{
  opacity: 0.6;
}
.footer-address-list li a:hover{
  opacity: 1;
}
.footer-services{
  text-align: center;
}
.footer-services ul{
  list-style-type: none;
  margin: 0 auto;
}
.footer-services ul li{
  list-style-type: none;
  color: #000;
  margin-bottom: 10px;
  opacity: 0.6;
}
.footer h1{
  font-size: 20px;
  margin-bottom: 10px;
  color: #000;
}
.footer-services p{
  font-size: 13px;
}
.Quick-Links{
  text-align: center;
}
.Quick-Links a{
  display: block;
  text-decoration: none;
  padding: 3px 5px;
  color: #000;
  text-align: center;
  opacity: 0.6;
}
.Quick-Links a:hover{
  opacity: 1;
}
.end-footer{
  background-color: #121217;
  text-align: center;
  padding: 10px 0;
}
.end-footer a, .end-footer p{
  color: #fff;
  display: inline-block;
  font-weight: 100;
  opacity: 0.7;
}
.end-footer a:hover{
  opacity: 1;
}

/*========================contact Content End========================== */

/*** Desktop Navigation ***/

@media (min-width: 992px) {

  /*** Navigation ***/

  .header {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: calc(100vh - 200px);
    top: 100px;
    opacity: 1;
    transition: opacity 0.3s;
  }
  .header.hide-header {
    z-index: 0 !important;
    opacity: 0;
  }
  .header ul.icon-menu {
    margin: 0;
    padding: 0;
  }
  .header ul.icon-menu li.icon-box {
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    background: #1c1c38;
  }
  .header ul.icon-menu li.icon-box i {
    color: #ddd;
    font-size: 19px;
    transition: .3s;
  }
  .header ul.icon-menu li.icon-box.active,
  .header ul.icon-menu li.icon-box:hover,
  .header ul.icon-menu li.icon-box.active i,
  .header ul.icon-menu li.icon-box:hover i {
    color: #fff;
  }
  .header .icon-box h2 {
    font-size: 15px;
    font-weight: 500;
  }
  .header .icon-box a {
    display: block;
    padding: 0;
    width: 50px;
    height: 50px;
  }
  .header .icon-box i.fa {
    position: absolute;
    pointer-events: none;
  }
  .header .icon-menu i {
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 35px;
    top: 15px;
  }
  .header .icon-box h2 {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    line-height: 50px;
    font-weight: 500;
    transition: all .3s;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 0 25px 0 30px;
    height: 50px;
    display: block;
  }
  .header .icon-box a:hover h2 {
    opacity: 1;
    right: 27px;
    margin: 0;
    text-align: center;
    border-radius: 30px 0 0 30px;
  }
  .social-icons::before {
    display: none;
  }
}

/*================================================== */

/* [ RESPONSIVE DESIGN STYLES ] */

/* Mobile  Navigation */

@media (max-width: 991px) {
  .contact-title h1{
    font-size: 42px;
  }
  .footer-services{
    margin-bottom: 30px;
  }
  .team{
    padding: 20px 10px;
  }
  .social-icons{
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  .social-icons a{
    display: inline-block;
    margin: 20px 0;
    opacity: 0.8;
  }
  .social-icons a .fa{
    padding: 4px 6px;
    font-size: 16px;
  }
  .social-icons::before {
   display: none;
 }

 #menuToggle {
  display: inline-block;
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 1111;
  user-select: none;
  padding: 19px 0 0 16px;
  width: 54px;
  height: 54px;
  border-radius: 5px;
  background: #1c1c38;
}
#menuToggle input {
  display: flex;
  width: 54px;
  height: 54px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  top: 0;
  left: 0;
}
#menuToggle > span {
  display: flex;
  width: 23px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}
#menuToggle > span:first-child {
  transform-origin: 0 0;
}
#menuToggle > span:nth-last-child(2) {
  transform-origin: 0 100%;
}
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(4px, 0);
  background: #fff;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(2px, 4px);
}
#menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 60px;
  background-image: linear-gradient(to bottom, #04aae2, #0393c3);
  -webkit-font-smoothing: antialiased;
  transform-origin: 0 0;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  overflow: hidden;
}
#menu::before{
  content: '';
  position: absolute;
  top: 5%;
  left: -50%;
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: rgba(39, 40, 79, 0.5);
}
#menuToggle input:checked ~ ul {
  transform: none;
}
#menu li {
  position: relative;
  padding-left: 30px;
}
#menu li:hover span {
  color: #04aae2;
}

#menu li:last-child::after {
  display: none;
}
#menu li.active a span {
  font-weight: 600;
}
#menu li a {
  color: #fff;
  text-transform: uppercase;
  transition-delay: 2s;
  font-size: 26px;
  display: block;
  text-decoration: none;
  padding: 14px 0;
  position: relative;
}
#menu li a span {
  position: absolute;
  left: 50px;
  font-weight: 400;
}

@media (max-width: 576px) {

 .contact{
  padding: 0;
  padding-bottom: 20px;
  height: auto;
}
.contact-title{
  margin-top: 90px;
  padding: 0 40px;
}
.contact-title h1{
  font-size: 32px;
}
.contact-title p{
  font-size: 16px;
}
.logo-contact{
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 10px;
  z-index: 200;
  width: 100%;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  margin-left: 0;
}
.contact-top{
  margin: 0 auto;
  padding-right: 10px;
}
.contact-content-left{
  display: none;
}
.embeded-map {
    margin: 30px 0;
    padding: 10px 0;
}
.embeded-map h2{
  font-size: 24px;
}
.footer-logo {
    text-align: center;
}
body {
  font-size: 14px;
}
#menuToggle {
  right: 10px;
  top: 4px;
  padding: 19px 0 0 13px;
  width: 49px;
  height: 49px;
}
#menuToggle {
  right: 5px;
  top: 5px;
  padding: 17px 0 0 13px;
}
#menu li {
  padding-left: 25px;
}
#menu li a {
  font-size: 18px;
}
#menu li::after {
  width: calc(100% - 50px);
  left: 25px;
}
#menu li a span {
  left: 35px;
}
