html {
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, #eef9fd, #dff3fb);
}
.logo-contact{
  background-color: #eef9fd; 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Top Header Logo and Contact Starts */

.social-icons {
  display: block;
  padding: 10px;
}

.social-icons a {
  display: inline-block;
  text-decoration: none;
  color: #1c1c38;
  margin: 0 12px;
  opacity: 0.8;
}

.social-icons a .fa {
  display: block;
  padding: 4px 6px;
  font-size: 20px;
}

.social-icons a:hover {
  color: #04aae2;
}

/* Top Header Logo and Contact Ends */

.internship-main{
  margin-top:60px;
  background-image: linear-gradient(to right, #2193b0, #6dd5ed);
  width:100%;
  padding: 50px;
  height: auto;
}
.internship-main .header-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.internship-main .header-img img{
  width:50%;
}
.internship-title{
  width: 90%;
  margin:0 auto;
}
.internship-title h1{
  margin-bottom:20px;
  font-size: 42px;
  color:#fff;
}
.internship-title h1 span{
  color:#d81d5c;
}
.internship-title p {
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.6;
}

/*Internship Registration Form Starts */

.internship-form{
  width: 80%;
  margin: 20px auto 0;
  padding: 50px;
  background-color: lightblue;
  border-radius: 8px;
}
.internship-form .row{
  margin-bottom: 30px;
  background-color: rgba(63, 81, 181,0.05);
  padding: 10px 0;
  border-radius: 3px;
  justify-content: flex-start;
  align-items: center;
}
.internship-form h2{
  text-align: center;
  margin-bottom: 40px;
}
.internship-form input[type="text"]{
  width: 100%;
  display: inline-block;
}
.internship-form label{
  display: inline-block;
}
@media screen and (max-width: 576px){
  .internship-main{
  margin-top:60px;
  background-image: linear-gradient(to bottom, #2193b0, #6dd5ed);
  width:100%;
  padding: 50px 20;
  height: auto;
}
  .internship-form{
    width: 90%;
    margin: 20px auto 0;
    padding: 10px;
    border-radius: 5px;
  }
  .internship-title h1{
  font-size: 28px;
  font-weight: 700;
}
}

/*Internship Registration Form Ends */

/* Footer Starts */

.footer-logo {
  width: 100%;
  overflow: hidden;
}

.footer-logo img {
  width: 100px;
  margin-top: -20px;
}

.footer-address-list {
  padding: 0 10px;
}

.footer-address-list li {
  color: #000;
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.footer-address-list li .fa {
  font-size: 24px;
  margin-right: 16px;
  color: #04aae2;
  opacity: 0.9;
}

.footer-address-list li a {
  text-decoration: none;
  color: #000;
  opacity: 0.6;
}

.footer-address-list li:nth-child(3) p span {
  opacity: 0.6;
}

.footer-address-list li a:hover {
  opacity: 1;
}

.footer-services {
  text-align: center;
}

.footer-services ul {
  list-style-type: none;
  margin: 0 auto;
}

.footer-services ul li {
  list-style-type: none;
  color: #000;
  margin-bottom: 10px;
  opacity: 0.6;
}

.footer h1 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #000;
}

.footer-services p {
  font-size: 13px;
}

.Quick-Links {
  text-align: center;
}

.Quick-Links a {
  display: block;
  text-decoration: none;
  padding: 3px 5px;
  color: #000;
  text-align: center;
  opacity: 0.6;
}

.Quick-Links a:hover {
  opacity: 1;
}

.end-footer {
  background-color: #121217;
  text-align: center;
  padding: 10px 0;
}

.end-footer a,
.end-footer p {
  color: #fff;
  display: inline-block;
  font-weight: 100;
  opacity: 0.7;
}

.end-footer a:hover {
  opacity: 1;
}

/*========================services Content End========================== */


/*  RESPONSIVE DESIGN STYLES  */

@media (max-width: 991px) {

  .blog-title {
    width: 80%;
  }

  .blog-title h1 {
    font-size: 42px;
  }

  .footer-services {
    margin-bottom: 30px;
  }

  .social-icons {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .social-icons a {
    display: inline-block;
    margin: 20px 0;
    opacity: 0.8;
  }

  .social-icons a .fa {
    padding: 4px 6px;
    font-size: 16px;
  }

  .social-icons::before {
    display: none;
  }

}

@media (max-width: 576px) {
  .blog-title {
    width: 90%;
  }

  .blog-title h1 {
    font-size: 32px;
  }

  .blog-title p {
    font-size: 14px;
  }

}