
 html {
  overflow-x: hidden;
  height: 100%;
}
/* Custom Css Starts */

/* ------------ Some Common CSS Ends------------------ */


body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  line-height: 1.6;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #eef9fd;
}
.login button{
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  border:1px solid #04aae2;
  background-color: #04aae2;
  color:#fff;
  border-radius: 4px;
}
.login button:hover{
  background-color: transparent;
  color:#04aae2;
  text-decoration: none;
  cursor: pointer;
}
.forgot-pwd{
  display: block;
  text-align: right;
  margin-top: 10px;
}
/*** Homepage ***/

.home .color-block {
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -83%;
  top: -50%;
  background-color: #04aae2;
}
.home .bg {
  height: calc(100vh - 100px);
  z-index: 111;
  border-radius: 30px;
  left: 40px;
  top: 73px;
  background-color: #eef9fd;
  box-shadow: 0 0 7px rgba(0,0,0,.3);
}
.home .container-home {
  display: flex;
  align-items: center;
  min-height: 100%;
  position: relative;
}
.home .home-details > div {
  max-width: 650px;
  margin: 0 auto;
}
.home .home-details h1 {
  color: #27284f;
  font-size: 50px;
  line-height: 62px;
  font-weight: 700;
  margin: 18px 0 10px;
  position: relative;
  padding-left: 70px;
  text-transform: uppercase;
}
.home .home-details h1::before {
  content: '';
  position: absolute;
  left: 0;
  top: 29px;
  height: 4px;
  width: 40px;
  border-radius: 10px;
  background-color: #04aae2;
}
.home .home-details h1 span {
  color: #04aae2;
  display: block;
}
.home .home-details h6 {
  color: #eee;
  font-size: 22px;
  font-weight: 400;
  display: block;
}
.home .home-details p {
  margin: 15px 0 28px;
  font-size: 16px;
  line-height: 35px;
  color: #333;
}
.home .home-details-container {
    width: 100%;
    height: 100vh;
  }
  /*Learn More Button Starts*/

  .button::before,
.button-icon{
  background-color: #04aae2;
}
.button{
  border: 1px solid #04aae2;
}
.button {
  overflow: hidden;
  display: inline-block;
  line-height: 1.4;
  border-radius: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: 250ms all ease-in-out;
  text-transform: uppercase;
  text-decoration: none !important;
  position: relative;
  z-index: 1;
  padding: 16px 70px 16px 35px;
  font-size: 15px;
  font-weight: 600;
  background-color: transparent;
  outline: none !important;
}
.button .button-text {
  position: relative;
  z-index: 2;
  color: #04aae2;
  transition: .3s ease-out all;
}
.button::before {
  z-index: -1;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateX(100%);
  transition: .3s ease-out all;
}
.button:hover .button-text {
  color: #ffffff;
}
.button:hover::before {
  transform: translateX(0);
}
.button-icon {
  position: absolute;
  right: -1px;
  top: -1px;
  bottom: 0;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  color: #ffffff;
  border-radius: 50%;
}
/*Learn More Button Ends*/

.reg-startup-btn{
  text-decoration: none;
  display: inline-block;
  border:1px solid #04aae2;
  background-color: #04aae2;
  color:#fff;
  border-radius: 35px;
  padding: 16px 30px;
  text-align: center;
  margin-left: 20px;
  transition: 0.4s;
  line-height: 1.4;
  vertical-align: middle;
}
.reg-startup-btn:hover{
  background-color: transparent;
  color:#04aae2;
  text-decoration: none;
  cursor: pointer;
}
/* ********************* Home Carousel Starts ******************************  */
.carousel-control-next .fa, .carousel-control-prev .fa{
  font-size: 24px;
  color:#16c9f6;
}
/* ********************* Home Carousel Ends ******************************  */

/* [ RESPONSIVE DESIGN STYLES ] */

@media (max-width: 1200px) and (min-width: 992px) {
  .home .home-details > div {
    max-width: 550px;
  }
}

@media (max-width: 991px) {
  .social-icons{
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
  }
  .social-icons a{
    display: block;
    margin: 20px 0;
    opacity: 0.8;
  }
  .social-icons a .fa{
    padding: 4px 6px;
    font-size: 16px;
  }
  .social-icons::before {
   display: none;
 }
 body.home {
  padding: 25px;
}
body.home .main-container {
  padding: 30px 0 0!important;
}
.home .home-details-container {
  margin: 0 auto;
}
.home .home-details {
  padding: 0;
}

.main-img-mobile {
  border-radius: 50%;
  width: 270px;
  height: 270px;
  border: 1px solid rgba(4,170,226,0.2);
  margin: 0 auto 25px;
  display: block;
}
.home .home-details h1 {
  font-size: 38px;
  line-height: 48px;
  margin: 29px 0 13px;
  padding-left: 0;
}
.home .home-details h1::before {
  display: none;
}
.home .home-details p {
  margin: 10px 0 23px;
  font-size: 14px;
  line-height: 28px;
}
}
@media (max-width: 576px) {
  body {
    font-size: 14px;
  }  
  .login button{
    padding: 4px 8px;
    font-size: 12px;
    margin-right: 50px;
  }
  .main-content {
    padding-top: 85px;
  }
  .main-content > .container {
    padding: 0 25px;
  }
  .main-img-mobile {
    width: 200px;
    border:none;
    border-radius: 0;
    height: 200px;
  margin: 0 auto -200px;
  display: none;
  }
  .home .main-container {
    padding: 30px 0 0 !important;
}
  .home .home-details-container {
     height: auto; 
}
  .home .home-details h1 {
    font-size: 29px;
    line-height: 39px;
    margin: 18px 0 13px;
  }

  /* Social Media Icons for Home Page (Displayed-none)*/
  .social-icons{
    display: none;
    text-align: center;
    top: 90%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  .social-icons a{
    display: inline-block;
    margin: 20px 0;
    opacity: 0.8;
  }
  .social-icons a .fa{
    padding: 4px 6px;
    font-size: 16px;
  }
  .social-icons::before {
   display: none;
 }
 .button {
  padding: 10px 50px 10px 15px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}
.button-icon {
  width: 40px;
  height: 40px;
  font-size: 17px;
}
.reg-startup-btn{
  text-decoration: none;
  display: inline-block;
  border:1px solid #04aae2;
  background-color: #04aae2;
  color:#fff;
  border-radius: 35px;
  padding: 10px 18px;
  text-align: center;
  margin-left: 0;
  transition: 0.4s;
}
}


/*==============================================================*/

/*Login Model Box CSS Starts Here*/
.reg-startup-title{
    color:#000;
}

.join-btn, .login-btn{
  border:none;
    padding: 12px 20px;
    background-color: #dc3545;
    color:#fff;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 6px;
}
.join-btn:hover, .login-btn:hover{
  background-color: #bd2130;
}
.modal label{
  color:#000;
}
/* Full-width input fields */
.modal input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Extra styles for the cancel button */
.modal .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.modal-footer button{
    background-color: #04aae2;
    opacity:0.9;
}
.modal-footer button:hover{
    background-color: #0493c3;
}
.modal .headingcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /*padding-top: 60px;*/
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;  /*Could be more or less, depending on screen size */
  padding: 50px
  width:80%;
}

/* The Close Button (x) */
.modal .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;

}

.modal .close:hover,
.modal .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.modal .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 576px) {
  .modal .cancelbtn {
     width: 100%;
  }
}

/*Login Model Box CSS Ends Here*/