
 html {
  overflow-x: hidden;
  height: 100%;
}
/* Custom Css Starts */

/* ------------ Some Common CSS Ends------------------ */


body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  line-height: 1.6;
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-color: #eef9fd;
}
.poppins-font {
  font-family: 'Poppins', sans-serif;
}
.open-sans-font {
  font-family: 'Open Sans', sans-serif;
}
.ft-wt-600 {
  font-weight: 600;
}
.mb-30 {
  margin-bottom: 30px;
}
.no-transform {
  transform: none !important;
}
.custom-title {
  padding-bottom: 22px;
  font-size: 26px;
}

/*** Light Body *Deleted ***/


/*** Buttons ***/

/*** Page Title ***/
.title-section {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 80px 0;
}
.title-section h1 {
  font-size: 56px;
  font-weight: 900;
  /* color: #fff; */
  color: #111;
  text-transform: uppercase;
  margin: 0;
}

.social-icons{
  display: block;
  padding: 10px;
  position: absolute;
  bottom: 6%;
  right: 10%;
  z-index: 20;
}
.social-icons a{
  display: inline-block;
  text-decoration: none;
  color: #27284f;
  margin: 0 12px;
}
.social-icons a .fa{
  display: block;
  padding: 4px 6px;
  font-size: 20px;
}
.social-icons a:hover{
  color: #04aae2;
}
.social-icons::before {
  content: '';
  position: absolute;
  left: -40px;
  top: 48%;
  height: 4px;
  width: 40px;
  border-radius: 10px;
  background-color: #27284f;
}

/* [ HEADER ] */
/*================================================== */

/*** Desktop Navigation ***/


/* [ Pages ] */
/*================================================== */

/*** Homepage ***/

.home .color-block {
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -83%;
  top: -50%;
  background-color: #04aae2;
}
.home .bg {
  height: calc(100vh - 100px);
  z-index: 111;
  border-radius: 30px;
  left: 40px;
  top: 73px;
  background-color: #eef9fd;
  box-shadow: 0 0 7px rgba(0,0,0,.3);
}
.home .container-home {
  display: flex;
  align-items: center;
  min-height: 100%;
  position: relative;
}
.home .home-details > div {
  max-width: 650px;
  margin: 0 auto;
}
.home .home-details h1 {
  color: #27284f;
  font-size: 50px;
  line-height: 62px;
  font-weight: 700;
  margin: 18px 0 10px;
  position: relative;
  padding-left: 70px;
}
.home .home-details h1::before {
  content: '';
  position: absolute;
  left: 0;
  top: 29px;
  height: 4px;
  width: 40px;
  border-radius: 10px;
}
.home .home-details h1 span {
  color: #04aae2;
  display: block;
}
.home .home-details h6 {
  color: #eee;
  font-size: 22px;
  font-weight: 400;
  display: block;
}
.home .home-details p {
  margin: 15px 0 28px;
  font-size: 16px;
  line-height: 35px;
  color: #333;
}

/* ********************* Home Carousel starts ******************************  */
.carousel-control-next .fa, .carousel-control-prev .fa{
  font-size: 24px;
  color:#16c9f6;
  /* ********************* Home Carousel ends ******************************  */
}

/* [ RESPONSIVE DESIGN STYLES ] */


@media (max-width: 1350px) and (min-width: 992px) {
  .container {
    max-width: calc(100% - 195px);
  }
}
@media (max-width: 1200px) {
  .home .home-details h1 {
    padding-left: 0;
  }
  .home .home-details h1::before {
    display: none;
  }
}
@media (max-width: 1200px) and (min-width: 992px) {
  .home .home-details h1 {
    font-size: 42px;
    line-height: 52px;
  }
}
@media (max-width: 1100px) and (min-width: 992px) {
  .home .home-details > div {
    max-width: 500px;
  }
}
@media (min-width: 1600px) {
  .home .home-details > div {
    max-width: 600px;
  }
}
@media (min-width: 992px) {
  .home .home-details-container {
    width: 100%;
    height: 100vh;
  }
  body.home {
    overflow: hidden;
  }
}
/* Mobile  Navigation */

@media (max-width: 991px) {
  .social-icons{
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
  }
  .social-icons a{
    display: block;
    margin: 20px 0;
    opacity: 0.8;
  }
  .social-icons a .fa{
    padding: 4px 6px;
    font-size: 16px;
  }
  .social-icons::before {
   display: none;
 }
 body.home {
  padding: 25px;
}
body.home .main-container {
  padding: 30px 0 !important;
}
.home .home-details-container {
  margin: 0 auto;
}
.home .home-details {
  padding: 0;
}
.main-img-mobile {
  border-radius: 50%;
  width: 270px;
  height: 270px;
  border: 1px solid rgba(4,170,226,0.2);
  margin: 0 auto 25px;
  display: block;
}
.home .home-details h1 {
  font-size: 38px;
  line-height: 48px;
  margin: 29px 0 13px;
}
.home .home-details p {
  margin: 10px 0 23px;
  font-size: 15px;
  line-height: 30px;
}


@media (max-width: 767px) {
  .home .home-details p {
    font-size: 14px;
    line-height: 28px;
  }
}

@media (max-width: 576px) {
  body {
    font-size: 14px;
  }
  
  .main-content {
    padding-top: 85px;
  }
  .main-content > .container {
    padding: 0 25px;
  }
  .main-img-mobile {
    width: 230px;
    height: 230px;
  }
  .home .home-details h1 {
    font-size: 29px;
    line-height: 39px;
    margin: 18px 0 13px;
  }
  .home .home-details h6 {
    font-size: 19px;
  }
  .title-section {
    padding: 16px 25px 14px;
    background: #252525;
    border-bottom: 1px solid #333;
    margin-bottom: 36px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 11;
    top: 0;
  }
  .title-section h1 {
    font-size: 26px;
  }
  .title-bg {
    display: none;
  }
  .custom-title {
    font-size: 21px;
  }
  /* Social Media Icons for Home Page*/
  .social-icons{
    text-align: center;
    top: 90%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }
  .social-icons a{
    display: inline-block;
    margin: 20px 0;
    opacity: 0.8;
  }
  .social-icons a .fa{
    padding: 4px 6px;
    font-size: 16px;
  }
  .social-icons::before {
   display: none;
 }